<div id="error-screen" class="container landing">
  <div class="jumbotron mt-4">
    <h2 class="display-4 text-center white-text">You've made a grave error and face certain peril.
      <span role="img" aria-label="Face with rolling eyes"></span>
    </h2>
    <a href="/" class="white-text">â† Turn Back</a>
  </div>
</div>
