.list-group-item {
  line-height: 2.5;
}

body {
background: black;
 
  font-family: 'Josefin Slab', serif;
/* font-family: 'Lobster', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Anton', sans-serif; */
}

h1, .story {
  
  text-shadow: 2px 2px #272121;
}

#firepit {
  background-color: black;
  background: url("https://i.imgur.com/ljI7J78.gif") no-repeat center center fixed; 
}

.btn-large {
  font-family: 'Josefin Slab', serif;
}
h1,h2, .brand-logo {
  font-family: 'Niconne', cursive;
}

.landing{
  position: absolute;
  top: 60px; /* Header Height */
  bottom: 0px; /* Footer Height */
  width: 100%;
  
}

#home{
  
  background: url("https://i.imgur.com/tYKscBZ.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#firpit{
 
  background: url("https://i.imgur.com/ljI7J78.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#error-screen {
  width: 100%; 
  background: url("https://i.imgur.com/llSgMO5.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

margin-top:10px;
}
#campaign {
  
  background: url("https://i.imgur.com/rsLOLUJ.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#game {
  /* dragon wallpaper https://i.imgur.com/RkA4J1m.gif */
  background: url("https://i.imgur.com/Ul1aJyw.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



.game-row {
  position:fixed;
  bottom:0px;
  position: relative;
}

.player {
  position: absolute;
  overflow: visible;
  margin-left:15px; 
  z-index: auto;
} 
.enemy, .enemy-attack {
  position: absolute;
  overflow: visible;
  margin-top: 100px;
}
.death {
  position: relative;
  left:100;

  overflow: visible;

}
  .heal {
    position: relative;
    top: 160px;
    left: 250px;
  }

  #game-over {
    background: url(https://i.kinja-img.com/gawker-media/image/upload/k5dlwatkptfaoove407d.gif) no-repeat center center fixed;
  }